//sidebar
// $menuBg:#304156;
// $subMenuBg:#1f2d3d;
// $menuHover:#001528;
$headerBg: #324057;
// basic
$basic:#409EFF;
$success:#67C23A;
$warning:#E6A23C;
$danger:#F56C6C;
$info:#909399;
$successBg: #f0f9eb;
$warningBg: #fdf6ec;
$dangerBg: #fef0f0;
$infoBg: #edf2fc;
$successBorder: #e1f3d8;
$warningBorder: #faecd8;
$dangerBorder: #fde2e2;
$infoBorder: #ebeef5;
$primaryText: #303133;
$regularText: #606266;
$SecondaryText: #909399;
$placeholderText: #C0C4CC;
$baseBorder: #DCDFE6;
$lightBorder: #E4E7ED;
$lighterBorder: #EBEEF5;
$extraLightBorder: #F2F6FC;
$moduleBg: #f7f8fa;
$dialogHead:rgba(34, 80, 138, 1);